{% extends 'homebase.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}



    <h1><p style="margin-left: 210px; margin-top: 25px;  " >ABOUT US</p></h1>

    <div class="row" style="margin-left: 500px; margin-bottom: 30px;margin-top: 30px">
        {{ setting[0].aboutus|raw }}






    </div>
{% endblock %}
