<div class="list-group list-group-alternate" style="float:left; width: 140px; margin-top: 120px; display: inline-block;">
    <h2><p style="border-bottom: 1px solid #0e2e42">User Menu</p> </h2>
    <img alt="" src="{{ asset('uploads/images/' ~ app.user.image) }}" height="120px" style="margin-top: 10px;margin-bottom: 10px" class="img-rounded">

    <a href="/user" class="list-group-item" style="width: 140px"> <i class="ti ti-email"></i> My Profile</a>
    <a href="/user/note" class="list-group-item" style="width: 140px"> <i class="ti ti-eye"></i> My Notes </a>
    <a href="/user/comments" class="list-group-item" style="width: 140px"> <i class="ti ti-headphone-alt"></i> My Comments </a>
    <a href="/logout" class="list-group-item" style="width: 140px"> <i class="ti ti-headphone-alt"></i> Logout </a>
</div>
